<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{{ page_title }}</title>
</head>
<body>
   <ul>
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'logout' %}">logout</a></li>
   </ul>
   <h1>{{ page_title }}</h1>
   <p>User: {{ user }}</p>
   <form method="post">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username">
      <br>
      <input type="password" name="password" placeholder="Password">
      <br>
      <button type="submit">Login</button>
   </form>
</body>
</html>