<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% block page_title %}
   
   {% endblock page_title %}
</head>
<body>
   <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'blog:index' %}">Post List</a></li>
      <ul>
         <li><a href="{% url 'blog:create' %}">Create Post</a></li>
      </ul>
   </ul>

   {% block contents %}
   
   {% endblock contents %}
</body>
</html>